services:
  mongodb:
    image: mongo:latest
    container_name: blog-mongo-dev
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
    volumes:
      - ./infra/mongo-data:/data/db
    networks:
      - blog-network

networks:
  blog-network:
    driver: bridge